*.la
*.lo
*.o
*.pc
m4/lt*.m4
src/*.a

.deps
.libs
aclocal.m4
autom4te.cache/
compile
config.*
configure
depcomp
examples/convert
examples/heif
install-sh
libtool
libheif.js
libheif.js.map
libheif.min.js
ltmain.sh
Makefile
Makefile.in
m4/libtool.m4
missing
out.bin
src/box-fuzzer
src/file-fuzzer
src/heif-version.h
stamp-h1
