*.la
*.lo
*.o
m4/lt*.m4

.deps
.libs
aclocal.m4
autom4te.cache/
compile
config.*
configure
depcomp
examples/heif
install-sh
libtool
libheif.js
libheif.js.map
libheif.min.js
ltmain.sh
Makefile
Makefile.in
m4/libtool.m4
missing
out.bin
stamp-h1
