name: gcc-versions

on:
  push:
  pull_request:

jobs:
  build:
    strategy:
      matrix:
        env:
          - { NAME: "gcc-10", WITH_GRAPHICS: 1, WITH_X265: 1, WITH_AOM: 1, WITH_LIBDE265: 1, GCC: 10 }
          - { NAME: "gcc-12", WITH_GRAPHICS: 1, WITH_X265: 1, WITH_AOM: 1, WITH_LIBDE265: 1, GCC: 12 }
    env: ${{ matrix.env }}
    runs-on: ubuntu-22.04
    steps:
    - uses: actions/checkout@v6

    - name: Install dependencies
      run: |
        ./scripts/install-ci-linux.sh
        sudo apt install gcc-${GCC} g++-${GCC}

    - name: Prepare CI
      env:
        CC: gcc-${GCC}
        CXX: g++-${GCC}
      run: |
        ./scripts/prepare-ci.sh

    - name: Run tests
      env:
        CC: gcc-${GCC}
        CXX: g++-${GCC}
      run: |
        ./scripts/run-ci.sh
